URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false

! special
*.foreground:   #e9e9e9
*.background:   #0c0c0c
*.cursorColor:  #e9e9e9

! black
*.color0:       #ff4c4c
*.color8:       #46b5f3

! red
*.color1:       #39e0b4
*.color9:       #ff00cd

! green
*.color2:       #00ffb8
*.color10:      #fcd49a

! yellow
*.color3:       #ff0080
*.color11:      #c9c1df

! blue
*.color4:       #d1d1d1
*.color12:      #5600ff

! magenta
*.color5:       #6466ff
*.color13:      #663260

! cyan
*.color6:       #aaaaaa
*.color14:      #00dcff

! white
*.color7:       #4e4e4e
*.color15:      #64bff9

! copy paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! disabling mods and stuff
URxvt.iso14755: false
URxvt.iso14755_52: false
